.aboutUs {
  height: 100vh;
  &__header {
    @include blueHeader;
    text-align: center;
    margin-top: 6rem;
  }

  &__copy {
    font-size: 1.8rem;
    font-weight: 300;
    margin: 0 auto;

    &__wrapper {
      text-align: justify;
      width: 60%;
      justify-content: center;
      margin: 0 auto;
    }
  }

  &__who--box {
    margin-top: 5rem;
    text-align: center;
  }

  &__image {
    width: 125px;
    border-radius: 50%;
    border: 2px solid $color-light-navy;
    cursor: pointer;
    -webkit-transition: all 320ms;
    -moz-transition: all 320ms;
    -ms-transition: all 320ms;
    -o-transition: all 320ms;
    transition: all 320ms;

    &:first-of-type {
      margin-top: 3rem;
    }

    &:not(:last-of-type) {
      margin-right: 2rem;
    }

    &:hover {
      border: 2px solid $color-red;
    }
  }

  &__empl {


    &__Name {
      font-family: $font-lobster;
      font-size: 2.2rem;
      text-align: center;
      color: $color-med-navy;
      -webkit-transition: all 320ms;
      -moz-transition: all 320ms;
      -ms-transition: all 320ms;
      -o-transition: all 320ms;
      transition: all 320ms;
    }

    &__Copy {
      width: 60%;
      margin: 0 auto;
      text-align: justify;
      font-weight: 300;
      font-size: 1.8rem;
    }
  }
}