.aboutUs {
	height: 100vh;
	&__header {
      @include blueHeader;
      text-align: center;
      margin-top: 6rem;
	}

	&__copy {
		font-size: 1.8rem;
		font-weight: 300;
      
      &__wrapper{
        display: grid;
        width: 60%;
        //align-items: center;
        grid-template-columns: 1fr;
        justify-items: center;
      }
	}
}