.aboutUs {
	height: 100vh;
	&__header {
		@include blueHeader;
		text-align: center;
	}

	&__copy {
		font-size: 1.8rem;
		font-weight: 300;
      
      &__wrapper{
        display: grid;
        width: 60%;
        //align-items: center;
        justify-items: center;
      }
	}
}