.grills{
  color: $color-med-navy;

  &__wrapper {
    @include cardGridWrapper;
  }

  &__title {
    @include blueHeader;
    text-align: center;
    margin-top: 10.5rem;
  }

  &__name {
    text-align: center;
  }

  &__box {
      @include orderBoxes;
  }

  &__copy {
    @include copyPadding;

    &--desc {
      @include copyDescription;
    }
  }

  &__price{
    @include cardPrice;
  }

  &__btn {
    @include cardMargin;
  }

  &__image {
    margin: 1.5rem auto;
    display: block;
    width: 200px;
  }

  &__filter {
    text-align: center;
  }

  &__btn {
      margin-left: 2rem;
  }
}