.navigation {

	&__list {
		list-style: none;
		display: flex;
		margin: 2.5rem 3rem;
		
		a{
			color: $color-cream;
			font-size: 2rem;
			text-decoration: none;
			display: inline-block;
		}

		a:not(lastoftype){
			margin-right: 1.5rem;
		}

		// a:link,
		// a:visited{
		// 	// color: $color-cream;
		// }
	}
}